:root{
    /* variables de colores de la pagina */
    --body-color: #275eb028;
    --sidebar-color: #FFFFFF;
    --primary-color: #538fdc;
    --primary-color-light: #9B27B00D;
    --toggle-color: #78788c;
    --text-color: #78788c;

    /* animaciones de transicion */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
    --altura: 5vh;
    --esquinas: 6px;
}

/*-------------------------- estilos generales -------------------------------*/
*{
    color: var(--text-color);
}

button{
    background: var(--primary-color); /*color de botones*/
    color: var(--sidebar-color); /*color de las letras de botones*/
    border-radius: 6px;
}

div{
    border-radius: 6px;
}

/*------------------------ estilos pagina index.jsp --------------------------*/
body{
    background-color: var(--body-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*centra horizontalmente*/
    /*align-items: center;*/
}

.ingresarUsuario{
    background-color: var(--sidebar-color);
    width: 50%;
    border-radius: var(--esquinas);
    padding: 1%
}

.ingresarUsuario h1, .ingresarUsuario label{
    width: 100%;
    text-align: center;
}

.ingresarUsuario form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%
}

/* estilos de input*/
.ingresarUsuario form input {
    font-family: "Roboto", sans-serif; /*fuentes de letra*/
    outline: 0;
    background: #f2f2f2; /*fondo gris claro*/
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.ingresarUsuario form label{
    margin: 1%;
    opacity: 1;
    color: var(--text-color);
}

/*estilos de botones*/
.ingresarUsuario form button {
    font-family: "Roboto", sans-serif; /*fuentes de letra para botones*/
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

/* -------------------------- estilos para registrar.jsp ---------------------*/
#contenidoRegistrar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#buscarEmpleado, #resultadoBusquedaEmpleado, #formularioRegistro, #mensajeCreacion{
    position: relative;
    width: 60%;
    left: 20%;
    background-color: var(--sidebar-color);
    text-align: center;
    margin: 1%;
}

/* inicialmente no sera visible */
#formularioRegistro{
    display: none;
}